<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ysb_dbpersonnelresistapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YSB_DBpersonnelResistApp">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.YSB_DBpersonnelResistApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PersonnelReg"
            android:theme="@style/Theme.YSB_DBpersonnelResistApp.NoActionBar"
            android:screenOrientation="portrait"
            android:label="인물 등록"></activity>

        <activity android:name=".PersonnelInfo"
            android:theme="@style/Theme.YSB_DBpersonnelResistApp.NoActionBar"
            android:screenOrientation="portrait"
            android:label="인물 정보"></activity>

        <activity android:name=".PersonnelList"
            android:theme="@style/Theme.YSB_DBpersonnelResistApp.NoActionBar"
            android:screenOrientation="portrait"
            android:label="인물 조회"></activity>
        <activity android:name=".PersonnelDatail"
            android:theme="@style/Theme.YSB_DBpersonnelResistApp.NoActionBar"
            android:screenOrientation="portrait"
            android:label="인물 상세 조회"></activity>
    </application>
</manifest>




